:root {
    color(#0097E6, #2BA9EA, #2BD1B1, #45F391,#B9FBD6, #BFE5F9 red green blue)
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    
}

.small-container {
  width: 30%;  
  height: 100%;
  background-color:  #0097EA;
  padding: 2%;

  
}
.big-container {
    width: 40%;
    height: 100%;
    
}
.player-field{
    width: 95%;
    height: 9%;
    border-radius: 10px;
    border: none;
    padding-left: 4%;
    outline: none;
    border: solid 1px white;
    
}
.box-player-field {
    display: flex;
    align-items: center;
    width: 95%;
    height: 9%;
    border-radius: 10px;
    background-color:#FFF;
    padding-right: 9px;
    border: white 1px solid;
    margin-top: 5%;
    
    
}

.box-player-field:focus-within {
    border: #0097E6 1px solid;
    

}

.player-field-2 {
    border: none;
    width: 75%;
    height: 100%;
    border-radius: 10px ;
    background-color: transparent;
    outline: none;
    padding-left: 4%;
}

.player-field:focus {
    border: #0097E6 1px solid;
}



.switcher {
    width: 49px;
    height: 32px;
    border-radius: 100px;
    background-color: #0097EA;
    display: flex;
    align-items: center;
    padding: 4px;
    position: relative;
    
}


.switcher:hover .switcher-ball {
    background-color: #FFF;
    right: 4px;
    transition: 300ms;
    cursor: pointer;
   
    
}
.switcher-ball {
    
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    
}

.game-type-title {
    color: #45F391;
    font-weight: 700;
    text-align: center;
    align-items: center;
}
.game-type-md-text {
    color: #FFF;
    font-weight: 400;
}
.game-type-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 70%;/*11px;*/
    width: 100%;
}

.game-type-title {
    margin-top: 2%;
}


.switcher-best-of {
    width: 49px;
    height: 32px;
    border-radius: 100px;
    background-color: #0097EA;
    display: flex;
    align-items: center;
    padding: 4px;
    position: relative;
    border: 1px solid;
    border-color: #FFF;
}

.switcher-best-of:hover .switcher-ball {
    background-color: #FFF;
    right: 4px;
    transition: 300ms;
    cursor: pointer;
}

.box-game-type {
    margin-top: 15%;
}

.start-restart-button {
    width: 100%;
    height: 10%;
    margin-top: 5%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    box-shadow: #00000045;/*não está funcionando para o botão*/
}
.start-button {
    background-color: #45F391;
    color: #FFF;
    
}
.restart-button {
    background-color: red/*#FFF;*//*verificar configuração deste botão, vermelho não
    sutiu efeito.*/
    color: #2BA9EA;
    margin-top: 10%;

}
.match-history {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.match-history-title {
    color:#FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.match-history-scenery-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0097E6;

}
.match-history-winner-box {
    width: 50%;
    height: 25%;
    background-color: #FFF;
    border-radius: 10px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.winner-label {
    color: #45F391;
    font-size: 14px;
}

.winner-name {
    color: #828282;
}

.match-history-separator {
    color: #FFF;
}

.scenery-field{
    width: 120px ;
    height: 100px ;
    background-color: #FFF;
    color: #828282;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
}
.scenery-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 510px;
    height: 400px;
    background-color: #0097E6;
    margin-top: 10%;
    padding-top: 5%;
    
}

.scenery-small .scenery-field {
 width: 15px;
 height: 15px;
 font-size: 12px;
 border-radius: 2px;
 background-color: #FFF;
 
 
 
}
.scenery-small {
    gap: 2px;
    width: 49px;
    height: 49px;
    color: #828282;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0097E6;

}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;  
  height: 10%;
  background-color: red;
  border-radius: 10px;
  margin: 5%;
  
}

.players-score {
    display: flex;
    justify-content: ;
}

.match-histoy-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*overflow-y: scroll;*/
    overflow: auto;
    max-height: 190px;
    padding: 5px;/*verificar e efetividade 
    desse padding*/

}
 /*da pagins how custom scrollbar*/
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      /*.reset-button-wrapper {
        /* verificar se precisa dessa class visto ja ter 
        configurado o botão anteriormente com a mesma
        classe do botão jogar.}*/
      